// Break Points
// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
$xs-boundary: 330px; // Mobile S
$ss-boundary: 370px; // Mobile M
$s-boundary: 600px; // Mobile L
$m-boundary: 800px; // Tablet
$l-boundary: 1100px; // Laptop
$ll-boundary: 1400px; // Laptop L
